<a href="https://colab.research.google.com/github/veera37/data-science-assignments/blob/main/Hypothesis_test__ass_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**

Here

     H0 is UnitA = Unit B
      H1 is UnitA != UnitB

In [41]:
import pandas as pd
d1 =pd.read_csv('/content/Cutlets.csv')
d1.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [40]:
#import stats
from scipy import stats
zcalc ,pval = stats.ttest_ind(d1['Unit A'] , d1['Unit B']  ) 

print("Z statistical value: ",zcalc.round(3))
print("p value: ",pval)

if pval < 0.05:
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and Ho is accepted")

Z statistical value:  0.723
p value:  0.4722394724599501
H1 is rejected and Ho is accepted

**Q2**

Assumptions:
             
              H0 : Lab1 = Lab2 = Lab3 = Lab4
             
             H1 : atleast one observation is different

 Using ANOVA test

In [34]:
d2 = pd.read_csv('/content/LabTAT.csv')
print(d2.head())
d2.isnull().sum()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [37]:
stats.f_oneway(d2['Laboratory 1'],d2['Laboratory 2'],d2['Laboratory 3'],d2['Laboratory 4'])
if pval < 0.05:
    print("Ho is rejected and H1 is accepted")
else:
    print("H1 is rejected and Ho is accepted")

H1 is rejected and Ho is accepted

**Q3**

In [52]:
d3 = pd.read_csv('/content/BuyerRatio.csv')
d3= d3.drop('Observed Values',axis=1)
d3

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [54]:
import scipy 
from scipy import stats
Chisquares_results=scipy.stats.chi2_contingency(d3)
Chisquares_results

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

we got p-value greater than the alpha so,

All the propotions are equal.

**Q4**

In [57]:
d4 = pd.read_csv('/content/Costomer+OrderForm.csv')
d4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [62]:
d4.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [65]:
d4[d4.isnull().any(axis=1)]
d4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [66]:
print(d4['Phillippines'].value_counts(),'\n',d4['Indonesia'].value_counts(),'\n',d4['Malta'].value_counts(),'\n',d4['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
 Error Free    269
Defective      31
Name: Malta, dtype: int64
 Error Free    280
Defective      20
Name: India, dtype: int64

In [67]:
contingency_table = [[271,267,269,280],
                    [29,33,31,20]]
print(contingency_table)

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [68]:
stat, p, df, exp = stats.chi2_contingency(contingency_table)
print("Statistics = ",stat,"\n",'P_Value = ', p,'\n', 'degree of freedom =', df,'\n', 'Expected Values = ', exp)

Statistics =  3.858960685820355
 P_Value =  0.2771020991233135
 degree of freedom = 3
 Expected Values =  [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [70]:
import numpy as np
observed = np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

In [71]:
test_statistic , p_value = stats.chisquare(observed, expected, ddof = df)
print("Test Statistic = ",test_statistic,'\n', 'p_value =',p_value)

Test Statistic =  3.858960685820355
 p_value = 0.4254298144535761

In [72]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.050, p=0.425
We fail to reject Null hypothesis